@font-face {
  font-family: 'playfair display';
  src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
  font-display: swap;
}

@font-face {
  font-family: 'madefor-display';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
  font-display: swap;
}
